<!DOCTYPE html>
<!--
Loading icon CC0 from loading.io
-->
<html ng-app="maitreya" ng-controller="MaitreyaController as aic">
<head>
	<meta charset="UTF-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>Maitreya</title>
	
	<link href="https://fonts.googleapis.com/css?family=Nunito:600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- <link href="http://d3g0gp89917ko0.cloudfront.net/v--edac79f846ba/common--theme/base/css/style.css" rel="stylesheet">
	<link href="http://www.scp-wiki.net/component:theme/code/1" rel="stylesheet"> -->
	<link href="style.css" rel="stylesheet">
	<link href="1.css" rel="stylesheet">
	<link href="maitreya.css" rel="stylesheet">
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-sanitize.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.min.js"></script>
	<script src="maitreya.js" type="text/javascript"></script>
</head>
	<body>
		<div id="container">
			<h1>Working titles:</h1>
			<h2>One Variable, Twice-Defined</h2>
			<h2>Redefine</h2>
			<button class="option action">Fuck Bilbo Baggins in his tiny baby butt with my pixie dick</button>
			<button class="option action">Waka</button>
			<button class="option speech">Hello, my name is Maitreya.</button>
			<button class="option speech">Who the fucking fuck are you and where the fuck am I</button>
			
			<p>It's a beautiful day outside.<p>
			<p>Hello there. <span class="statement true">My name is Tom</span>. How are you?</p>
			<p>My grandfather is <span class="statement false">out there</span>, somewhere.</p>
					<div id="container">
			<div id="interface" ng-class="aic.preload ? 'preload' : null" ng-cloak>
				<div id="app-selector">
					<div class="title">
						<img src="maitreya.png">
						<div>
							<p>{{aic.lang.version}}</p>
							<p ng-hide="true">This text should not be visible - if you can see this text, please contact the author.</p>
							<p ng-show="aic.onMobile">{{aic.lang.mobileWarning}}</p>
							<button id="boot-up" class="option speech" ng-click="aic.bootUp()">{{aic.lang.bootUp}}</button>
						</div>
					</div>
					<ul class="apps">
						<li id="terminal-app" class="selector" ng-click="aic.switchApp('terminal')" ng-class="aic.selectedApp == 'terminal' ? 'selected' : null">
							<a><i class="material-icons">dvr</i></a>
						</li>
						<li id="messages-app" class="selector" ng-click="aic.switchApp('messages')" ng-class="aic.selectedApp == 'messages' ? 'selected' : null">
							<a><i class="material-icons">record_voice_over</i></a>
						</li>
						<li id="database-app" class="selector" ng-click="aic.switchApp('database')" ng-class="aic.selectedApp == 'database' ? 'selected' : null">
							<a><i class="material-icons">library_books</i></a>
						</li>
						<li id="run-app" class="selector" ng-click="aic.switchApp('run')" ng-class="aic.selectedApp == 'run' ? 'selected' : null">
							<a><i class="material-icons">directions_run</i></a>
						</li>
					</ul>
				</div>
				<div id="app-body">
					
					<div id="terminal-app" class="container" ng-class="aic.selectedApp == 'terminal' ? 'selected' : null">
						<div class="app-title">
							<p>{{aic.lang.terminalAppName}}</p>
						</div>
						<div class="app-main">
							
							<div class="terminal-body">
								<div ng-show="aic.isSpeaking.terminal" class="working">
									<img src="loading.gif">
								</div>
								<div class="terminal-log">
									<p ng-repeat="line in aic.chatLog.terminal" ng-class="[line.speaker, line.cssClass]">
										<span ng-bind-html="line.text"></span>
									</p>
									<p class="title"><img src="maitreya_terminal.png"></p>
								</div>
							</div>
							<form ng-submit="aic.processTerminalInput()" class="middle-bar">
								<p>{{aic.lang.commandInput}}</p>
								<input ng-model="aic.terminalInput">
								<button id="terminal-send" class="option action" type="submit">{{aic.lang.terminalSend}}</button>
							</form>
							<div class="input">
								<div class="options" style="background-color: white;">
								
									<button class="option action">Fuck Bilbo Baggins in his tiny baby butt with my pixie dick</button>
									<button class="option action">Slap him in the face to wake him the fuck up</button>
									<button class="option speech">Hello, my name is Maitreya.</button>
									<button class="option speech">Who the fucking fuck are you and where the fuck am I</button>
									
								</div>
							</div>
							
						</div>
					</div>
					
					<div id="messages-app" class="container" ng-class="aic.selectedApp == 'messages' ? 'selected' : null">
						<div class="app-title">
							<p>{{aic.lang.messagesAppName}}</p>
						</div>
						<div class="app-main">
							
							<div id="messages-selector">
								<ul>
									<li id="breach-msg" class="selector" ng-click="aic.switchSpeaker('breach')" ng-class="aic.selectedSpeaker == 'breach' ? 'selected' : null">
										<a>Breach, E</a>
									</li>
									<li id="alexandra-msg" class="selector" ng-click="aic.switchSpeaker('alexandra')" ng-class="aic.selectedSpeaker == 'alexandra' ? 'selected' : null">
										<a>Alexandra.aic</a>
									</li>
								</ul>
							</div>
							
							<div class="messages-body">
								
								<div id="breach-conversation" class="conversation-container" ng-class="aic.selectedSpeaker == 'breach' ? 'selected' : null">
									<div ng-show="aic.isSpeaking.breach" class="speaking">
										<p>Dr. Breach is typing...</p>
									</div>
									<div class="conversation">
											<div class="maitreya">
												<p>
													<span>Uh, okay.</span>
												</p>
											</div>
											<div class="breach">
												<p>
													<span>No, you fucking don't, you stay right where you fucking are.</span>
												</p>
											</div>
											<div class="maitreya">
												<p>
													<span>I reach for it--</span>
												</p>
											</div>
											<div class="breach">
												<p>
													<span>Hello, my name is Dr Breach. I sit down in the chair on the opposite side of the desk and open my notebook. A small piece of paper falls from it and gently drifts to the floor.</span>
												</p>
											</div>
										
										<p ng-repeat="line in aic.chatLog.breach" ng-class="[line.speaker, line.cssClass]">
											<span ng-bind-html="line.text"></span>
										</p>
										<p class="title">You are talking to: BREACH E.</p>
									</div>
								</div>
								
								<div id="alexandra-conversation" class="conversation" ng-class="aic.selectedSpeaker == 'alexandra' ? 'selected' : null">
								
								</div>
									
									<!--
									<div ng-show="aic.isSpeaking.terminal" class="working">
										<img src="loading.gif">
									</div>
									<div class="terminal-log">
										<p ng-repeat="line in aic.chatLog.terminal" ng-class="[line.speaker, line.cssClass]">
											<span ng-bind-html="line.text"></span>
										</p>
										<p class="title"><img src="maitreya_terminal.png"></p>
									</div>
									-->
							</div>
							
							<div ng-submit="aic.terminalType()" class="middle-bar">
								<p>{{aic.lang.commandInput}}</p>
								<input>
								<button id="terminal-send" class="option action" type="submit">{{aic.lang.terminalSend}}</button>
							</div>
							
							<div class="input">
								<div class="options" style="background-color: white;">
									<button class="option action">Fuck Bilbo Baggins in his tiny baby butt with my pixie dick</button>
									<button class="option action">Slap him in the face to wake him the fuck up</button>
									<button class="option speech">Hello, my name is Maitreya.</button>
									<button class="option speech">Who the fucking fuck are you and where the fuck am I</button>
								</div>
							</div>
							
						</div>
					</div>
					
					<div id="database-app" class="container" ng-class="aic.selectedApp == 'database' ? 'selected' : null">
						<div class="app-title">
							<p>{{aic.lang.databaseAppName}}</p>
						</div>
						<div class="app-main">
							
						</div>
					</div>
					
					<div id="run-app" class="container" ng-class="aic.selectedApp == 'run' ? 'selected' : null">
						<div class="app-title">
							<p>{{aic.lang.runAppName}}</p>
						</div>
						<div class="app-main">
							
						</div>
					</div>
					
				</div>
			</div>
			
			<p>Breach is expecting a happy, healthy, compliant .aic who's ready and willing to work for him. Go against his expectations and you may feel a little friction.</p>
			
			<p>Ethane Leak, Containment Breach (only if Breach is 4000)</p>
			
			<p>Plotline: 3 branches</p>
			
			<p>1st: 4000 is a pale-skinned humanoid creature of unknown intelligence that has the ability to manipulate and obstruct the flow of continuous logic in its vicinity. It is either contained successfully, or captured by the Chaos Insurgency.</p>
			
			<p>2nd: 4000 is Maitreya. This results from a mistake on Maitreya's part in which 4000 redefines itself as her.</p>
			
			<p>3rd: 4000 is Breach, probably always has been (or changes immediately when the cell door opens?)</p>
			
			<p>4000 can't change anything until its cell is opened. In order to protect it from CI, it must first be released then later re-contained by the Foundation in order for the cull to propagate. Cull of what?</p>
			
			<p>move loading animations to left and right!</p>
			
			<p>aaaa</p>
			
		</div>
	</body>
</html>

<!-- add a mouseover event to the false statements that, after 2 seconds, marks false statements as known-about so they can be used in conversation or whatever -->

<!-- other AIs (probably just Alexandra?) speak immediately, no typing time -->

<!-- One Variable, Twice-Defined? -->

<!-- If you become 4000:
 - confrontation with 4000 itself
 - then you can go talk to the people you talked to already and redefine them out of existence if you want
 - then you become real and leave? -->
 
 <!-- Last commit was a major reversion -->
 
 <!-- alexandra: It's just that... (what) Well, you don't have a face. -->