html, body {
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}
#container {
	margin: auto;
	width: 700px;
	height: 700px;
	overflow: visible;
	transition: all 0.6s ease-in-out;
}
#interface { /* change this to refer to iframe */
	margin: 0 -99rem;
	padding: 0 99rem;
	height: 100%;
	
	background: linear-gradient(to right,
	              transparent 0%,
	              transparent calc(50% - 500px),
	              rgba(255,255,255,0.7) calc(50% - 420px),
	              rgba(255,255,255,1) calc(50% - 375px),
	              rgba(255,255,255,1) calc(50% + 375px),
	              rgba(255,255,255,0.7) calc(50% + 420px),
	              transparent calc(50% + 500px),
	              transparent 100%),
	            repeating-linear-gradient(45deg,
	              rgba(20,136,204,0.05),
	              rgba(20,136,204,0.05) 15px,
	              transparent 15px,
	              transparent 30px,
	              rgba(43,50,178,0.05) 30px,
	              rgba(43,50,178,0.05) 45px,
	              transparent 45px,
	              transparent 60px);
}
#interface iframe {
	border: none;
	width: 100%;
	display: block;
	height: 100%;
}
form {
	width: 700px;
	margin: 2em auto;
}