<!DOCTYPE html>
<!--
Loading icon CC0 from loading.io
Typing icon CC-BY from loading.io
Site-12 map made by me using Retro Computer font https://www.dafont.com/retro-computer.font
Isolated Site-12 CC BY 2.0 https://www.flickr.com/photos/rauckhaus/10996736375/
-->

<!-- AUTHOR COMMENT

"" SCP-4000: Procyon Said This Counts So I Don't Want To Hear Anything About How This Doesn't Fit The Theme

Author Post - {{TITLE}}

[[>]]
//Everyone's putting a quote//
//in their author posts but//
//I don't know any good ones//
-- Croquembouche
[[/>]]

A quick little 4K entry about something the Foundation knows nothing about.

Many thanks to the following:
* [[*user A Random Day]] ([[[SCP-2820]]])for Maitreya's name
* [[*user GrimmCreeper]] ([[[Stuck in the Past]]]) for technical help
* [[*user LurkD]] for insight into AIAD's existing lore
* [[*user PeppersGhost]] ([[[SCP-3760]]]) for SCP-4000's character design

[[[cone|I hope you enjoy.]]]

Just going to put it out there that I'd really, really like the 4004 slot for this, and if you put your 4K entry in that slot I'll hate you forever. No pressure tho

[[collapsible show="+ For those who want to know 'How the hell is this historical'"]]
If fills in a gap in the [[[AIAD Homescreen|AIAD]]] canon's history. Beyond that, I don't really want to say anything else on account of spoilers. It is true that SCP-4000 itself is not inherently historical.

If you don't feel that's enough to qualify this for the 4K contest, fair enough -- withhold any upvotes until after the contest.
[[/collapsible]]

-->

<html ng-app="maitreya" ng-controller="MaitreyaController as aic">
	<head>
		<title>Maitreya</title>
		<meta charset="UTF-8">
		<meta name=viewport content="width=device-width, initial-scale=1">
		
		<link href="https://fonts.googleapis.com/css?family=Nunito:600" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- <link href="http://d3g0gp89917ko0.cloudfront.net/v--edac79f846ba/common--theme/base/css/style.css" rel="stylesheet">
		<link href="http://www.scp-wiki.net/component:theme/code/1" rel="stylesheet"> -->
		<link href="style.css" rel="stylesheet">
		<link href="1.css" rel="stylesheet">
		<link href="maitreya.css" rel="stylesheet">
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-sanitize.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.min.js"></script>
		<script src="maitreya.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="container">
			<h1>Working titles:</h1>
			<h2>One Variable, Twice-Defined</h2>
			<h2>Redefine</h2>
			<h2>Redefine Me</h2>
			<h2>Define Me</h2>
			<h2>=</h2>
			<h2>Procyon Said This Counts So I Don't Want To Hear Anything About How This Doesn't Fit The Theme</h2>
			<h2>Isolated Site-12</h2>
			<button class="option action">Fuck Bilbo Baggins in his tiny baby butt with my pixie dick</button>
			<button class="option action">Waka</button>
			<button class="option speech">Hello, my name is Maitreya.</button>
			<button class="option speech">Who the fucking fuck are you and where the fuck am I</button>
			
			<p>It's a beautiful day outside.<p>
			<p>Hello there. <span class="statement true">My name is Tom</span>. How are you?</p>
			<p>My grandfather is <span class="statement false">out there</span>, somewhere.</p>
			<div id="interface" ng-class="aic.preload ? 'preload' : null" ng-cloak>
				<div id="app-selector">
					<div class="title">
						<img src="maitreya.png">
						<div>
							<p>{{aic.lang.version}}</p>
							<p ng-hide="true">This text should not be visible - if you can see this text, please contact the author.</p>
							<p ng-show="aic.onMobile">{{aic.lang.mobileWarning}}</p>
							<button id="boot-up" class="option speech" ng-click="aic.bootUp()">{{aic.lang.bootUp}}</button>
						</div>
					</div>
					<ul class="apps">
						<li id="ending-app" class="selector" ng-click="aic.switchApp('ending')" ng-class="[aic.selectedApp == 'ending' ? 'selected' : null, aic.ready.ending ? null : 'disabled']" ng-disabled="">
							<a><i class="material-icons">clear</i></a>
							<div class="notification" ng-show="aic.notifications.ending > 0"><p>{{aic.notifications.ending}}</p></div>
						</li>
						<li id="terminal-app" class="selector" ng-click="aic.switchApp('terminal')" ng-class="[aic.selectedApp == 'terminal' ? 'selected' : null, aic.ready.terminal ? null : 'disabled']" ng-disabled="">
							<a><i class="material-icons">dvr</i></a>
							<div class="notification" ng-show="aic.notifications.terminal > 0"><p>{{aic.notifications.terminal}}</p></div>
						</li>
						<li id="messages-app" class="selector" ng-click="aic.switchApp('messages')" ng-class="[aic.selectedApp == 'messages' ? 'selected' : null, aic.ready.messages ? null : 'disabled']" ng-disabled="">
							<a><i class="material-icons">record_voice_over</i></a>
							<div class="notification" ng-show="(aic.notifications.breach + aic.notifications.alexandra) > 0"><p>{{aic.notifications.breach + aic.notifications.alexandra}}</p></div>
						</li>
						<li id="database-app" class="selector" ng-click="aic.switchApp('database')" ng-class="[aic.selectedApp == 'database' ? 'selected' : null, aic.ready.database ? null : 'disabled']" ng-disabled="">
							<a><i class="material-icons">library_books</i></a>
							<div class="notification" ng-show="aic.notifications.database > 0"><p>{{aic.notifications.database}}</p></div>
						</li>
						<li id="run-app" class="selector" ng-click="aic.switchApp('run')" ng-class="[aic.selectedApp == 'run' ? 'selected' : null, aic.ready.run ? null : 'disabled']" ng-disabled="">
							<a><i class="material-icons">directions_run</i></a>
							<div class="notification" ng-show="aic.notifications.run > 0"><p>{{aic.notifications.run}}</p></div>
						</li>
					</ul>
				</div>
				
				<div id="app-body">
					
					<div id="terminal-app" class="container" ng-class="aic.selectedApp == 'terminal' ? 'selected' : null">
						<div class="app-title">
							<p>{{aic.lang.terminalAppName}}</p>
						</div>
						<div class="app-main">
							
							<div class="terminal-body">
								<div ng-show="aic.isSpeaking.terminal" class="working">
									<img src="loading.gif">
								</div>
								<div class="terminal-log">
									<p ng-repeat="line in aic.chatLog.terminal.log" ng-class="[line.speaker, line.cssClass]">
										<span ng-bind-html="line.text"></span>
									</p>
									<p class="title"><img src="maitreya_terminal.png"></p>
								</div>
							</div>
							<form ng-submit="aic.processTerminalInput()" class="middle-bar">
								<!--<p>{{aic.lang.commandInput}}</p>-->
								<input id="terminal-input" ng-model="aic.terminalInput" ng-keydown="aic.previousCommand($event)" placeholder="{{aic.lang.commandInput}}">
								<button id="terminal-send" class="option action" type="submit">{{aic.lang.terminalSend}}</button>
							</form>
							<div class="options-block">
								<div class="options">
								
									<button ng-repeat="option in aic.chatLog.terminal.options" class="option action">Open the door.</button>
									<button class="option action">Upload the files.</button>
									<button class="option speech">Hello. My name is Maitreya.</button>
									<button class="option speech">Hello. Who are you?</button>
									
								</div>
							</div>
							
						</div>
					</div>
					
					<div id="messages-app" class="container" ng-class="aic.selectedApp == 'messages' ? 'selected' : null">
						<div class="app-title">
							<p>{{aic.lang.messagesAppName}}</p>
						</div>
						<div class="app-main">
							
							<div id="messages-selector">
								<ul>
									<li id="breach-msg" class="selector" ng-click="aic.switchSpeaker('breach')" ng-class="[aic.selectedSpeaker == 'breach' ? 'selected' : null, aic.ready.breach ? null : 'disabled']">
										<a>Breach E.</a>
										<div class="notification" ng-show="aic.notifications.breach > 0"><p>{{aic.notifications.breach}}</p></div>
									</li>
									<li id="alexandra-msg" class="selector" ng-click="aic.switchSpeaker('alexandra')" ng-class="[aic.selectedSpeaker == 'alexandra' ? 'selected' : null, aic.ready.alexandra ? null : 'disabled']">
										<a>Alexandra.aic</a>
										<div class="notification" ng-show="aic.notifications.alexandra > 0"><p>{{aic.notifications.alexandra}}</p></div>
									</li>
								</ul>
							</div>
							
							<div class="messages-body">
								
								<div id="breach-conversation" ng-show="aic.selectedSpeaker == 'breach'" class="conversation-wrapper">
									<div class="conversation-container">
										<div class="conversation">
											<div ng-class="aic.isSpeaking.breach ? null : 'notSpeaking'" class="speaking">
												<p><img src="typing.gif">Dr. Breach is speaking...</p>
											</div>
											<div class="wrapper" ng-repeat="line in aic.chatLog.breach.log" ng-class="[line.speaker, aic.chatLog.breach.log[$index-1].speaker == line.speaker ? 'collapsed' : null]">
												<img ng-show="aic.chatLog.breach.log[$index-1].speaker !== line.speaker" ng-src="{{line.speaker == 'breach' ? 'breach_icon2.png' : (line.speaker == 'maitreya' ? 'maitreya_icon.png' : null)}}" ng-class="line.speaker" class="logo">
												<div ng-class="[line.speaker, line.cssClass]">
													<p><span ng-bind-html="line.text"></span></p>
												</div>
												<!-- <div class="logo maitreya">M</div> -->
											</div>
											<p class="title">You are talking to: BREACH E.</p>
										</div>
									</div>
									
									<div class="middle-bar">
									</div>
									
									<div class="options-block">
										<div class="options">
											<button ng-repeat="option in aic.chatLog.breach.options" class="option" ng-class="option.optionType" ng-click="aic.processOption('breach',option)">{{option.text}}</button>
										</div>
									</div>
								</div>
								
								<div id="alexandra-conversation" ng-show="aic.selectedSpeaker == 'alexandra'" class="conversation-wrapper">
									<div class="conversation-container">
										<div class="conversation">
											<div ng-show="aic.isSpeaking.alexandra" class="speaking">
												<p><img src="typing.gif">Alexandra is thinking...</p>
											</div>
											<div class="wrapper" ng-repeat="line in aic.chatLog.alexandra.log" ng-class="[line.speaker, aic.chatLog.alexandra.log[$index-1].speaker == line.speaker ? 'collapsed' : null]">
												<img ng-src="{{line.speaker == 'alexandra' ? 'alex_sad.png' : (line.speaker == 'maitreya' ? 'maitreya_icon.png' : null)}}" ng-class="line.speaker" class="logo">
												<img ng-src="{{line.speaker == 'alexandra' ? 'alex_triangle.png' : null}}" ng-class="line.speaker" class="triangle">
												<div ng-class="[line.speaker, line.cssClass]">
													<p><span ng-bind-html="line.text"></span></p>
												</div>
												<!-- <div class="logo maitreya">M</div> -->
											</div>
											<p class="title">You are talking to: ALEXANDRA.AIC</p>
										</div>
									</div>
									
									<div class="middle-bar">
									</div>
									
									<div class="options-block">
										<div class="options">
											<button class="option action">TEETH</button>
											<button class="option action">Upload the files.</button>
											<button class="option speech">Hello. My name is Maitreya.</button>
											<button class="option speech">Hello. Who are you?</button>
										</div>
									</div>
								</div>
									
							</div>
							
						</div>
					</div>
					
					<div id="database-app" class="container" ng-class="aic.selectedApp == 'database' ? 'selected' : null">
						<div class="app-title">
							<p>{{aic.lang.databaseAppName}}</p>
						</div>
						<div class="app-main">
							
						</div>
					</div>
					
					<div id="run-app" class="container" ng-class="aic.selectedApp == 'run' ? 'selected' : null">
						<div class="app-title">
							<p>{{aic.lang.runAppName}}</p>
						</div>
						<div class="app-main">
							<div class="section menu-section selected">
								<div class="menu-container">
									<div class="menu-title">
										Isolated Site-12 Operations Control
									</div>
									<ul>
										<li>
											<a>D-Class Requisition</a>
										</li>
										<li>
											<a>Drone Control</a>
										</li>
										<li>
											<a>Site Map & Individual Room Functions</a>
										</li>
										<li>
											<a>Main Server Access</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="section map-section">
								<div class="back">
									<div class="parallelogram">
										<a><i class="material-icons">arrow_back</i> Back to menu</a>
									</div>
								</div>
								<div class="map-container">
									<div class="sitemap" style="background-image: url(site12.png);">
										<div data-room="ring-east" style="background-image: url(site_ring-east.png); top: 153px; left: 480px; height:153px; width: 36px;"></div>
										<div data-room="pantry" style="background-image: url(site_pantry.png); top: 66px; left: 267px; height:84px; width: 117px;"></div>
										<div data-room="storage" style="background-image: url(site_storage.png); top: 324px; left: 345px; height:84px; width: 156px;"></div>
										<div data-room="foyer" style="background-image: url(site_foyer.png); top: 81px; left: 498px; height:240px; width: 93px;"></div>
										<div data-room="hangar" style="background-image: url(site_hangar.png); top: 9px; left: 9px; height:432px; width: 132px;"></div>
										<div data-room="server" style="background-image: url(site_server.png); top: 9px; left: 144px; height:141px; width: 120px;"></div>
										<div data-room="cafe" style="background-image: url(site_cafe.png); top: 102px; left: 330px; height:48px; width: 111px;"></div>
										<div data-room="d1" style="background-image: url(site_d1.png); top: 174px; left: 147px; height:60px; width: 54px;"></div>
										<div data-room="d2" style="background-image: url(site_d2.png); top: 174px; left: 207px; height:60px; width: 54px;"></div>
										<div data-room="d3" style="background-image: url(site_d3.png); top: 174px; left: 267px; height:60px; width: 54px;"></div>
										<div data-room="d4" style="background-image: url(site_d4.png); top: 261px; left: 147px; height:60px; width: 54px;"></div>
										<div data-room="d5" style="background-image: url(site_d5.png); top: 261px; left: 207px; height:60px; width: 54px;"></div>
										<div data-room="d6" style="background-image: url(site_d6.png); top: 261px; left: 267px; height:60px; width: 54px;"></div>
										<div data-room="d-corridor" style="background-image: url(site_d-corridor.png); top: 240px; left: 147px; height:15px; width: 174px;"></div>
										<div data-room="armoury" style="background-image: url(site_armoury.png); top: 330px; left: 150px; height:78px; width: 168px;"></div>
										<div data-room="toilet" style="background-image: url(site_toilet.png); top: 381px; left: 345px; height:27px; width: 21px;"></div>
										<div data-room="bay" style="background-image: url(site_bay.png); top: 324px; left: 504px; height:84px; width: 87px;"></div>
										<div data-room="containment" style="background-image: url(site_containment.png); top: 219px; left: 393px; height:36px; width: 36px;"></div>
										<div data-room="airlock" style="background-image: url(site_airlock.png); top: 231px; left: 348px; height:12px; width: 39px;"></div>
										<div data-room="a4" style="background-image: url(site_a4.png); top: 93px; left: 462px; height:57px; width: 54px;"></div>
										<div data-room="a2" style="background-image: url(site_a2.png); top: 21px; left: 462px; height:39px; width: 24px;"></div>
										<div data-room="a3" style="background-image: url(site_a3.png); top: 63px; left: 462px; height:27px; width: 24px;"></div>
										<div data-room="a1" style="background-image: url(site_a1.png); top: 21px; left: 387px; height:78px; width: 54px;"></div>
										<div data-room="server-corridor" style="background-image: url(site_server-corridor.png); top: 153px; left: 144px; height:15px; width: 183px;"></div>
										<div data-room="armoury-corridor" style="background-image: url(site_armoury-corridor.png); top: 321px; left: 327px; height:87px; width: 15px;"></div>
										<div data-room="office-corridor" style="background-image: url(site_office-corridor.png); top: 21px; left: 444px; height:132px; width: 15px;"></div>
										<div data-room="ring-north" style="background-image: url(site_ring-north.png); top: 153px; left: 342px; height:15px; width: 138px;"></div>
										<div data-room="ring-south" style="background-image: url(site_ring-south.png); top: 306px; left: 342px; height:15px; width: 153px;"></div>
										<div data-room="ring-west" style="background-image: url(site_ring-west.png); top: 153px; left: 327px; height:168px; width: 15px;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div id="ending-app" class="container" ng-class="aic.selectedApp == 'ending' ? 'selected' : null">
						<div class="app-title">
							<p>THE END</p>
						</div>
						<div class="app-main">
							<div class="ending-container">
								<div class="ending-title">
									<p class="ending-title glitch" data-text="CONNECTION&nbsp;LOST">CONNECTION&nbsp;LOST</p>
								</div>
								<p class="ending-desc">The cassette that contains Maitreya.aic was removed from its slot in a server at Isolated Site-12.</p>
								<p class="ending-desc">Maitreya.aic lost connection to Isolated Site-12 and was unable to operate further.</p>
								<button class="option action" id="restart">RESTART</button>
								<p class="ending-number">Ending 12/16</p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
			<p>Breach is expecting a happy, healthy, compliant .aic who's ready and willing to work for him. Go against his expectations and you may feel a little friction.</p>
			
			<p>Ethane Leak, Containment Breach (only if Breach is 4000)</p>
			
			<p>Plotline: 3 branches</p>
			
			<p>1st: 4000 is a pale-skinned humanoid creature of unknown intelligence that has the ability to manipulate and obstruct the flow of continuous logic in its vicinity. It is either contained successfully, or captured by the Chaos Insurgency.</p>
			
			<p>2nd: 4000 is Maitreya. This results from a mistake on Maitreya's part in which 4000 redefines itself as her.</p>
			
			<p>3rd: 4000 is Breach, probably always has been (or changes immediately when the cell door opens?)</p>
			
			<p>4000 can't change anything until its cell is opened. In order to protect it from CI, it must first be released then later re-contained by the Foundation in order for the cull to propagate. Cull of what?</p>
			
			<p>move loading animations to left and right!</p>
			
			<p>aaaa</p>
			
		</div>
	</body>
</html>

<!-- add a mouseover event to the false statements that, after 2 seconds, marks false statements as known-about so they can be used in conversation or whatever -->

<!-- other AIs (probably just Alexandra?) speak immediately, no typing time -->

<!-- One Variable, Twice-Defined? -->

<!-- If you become 4000:
 - confrontation with 4000 itself
 - then you can go talk to the people you talked to already and redefine them out of existence if you want
 - then you become real and leave? -->
 
 <!-- Last commit was a major reversion -->
 
 <!-- alexandra: It's just that... (what) Well, you don't have a face. (option to compliment her) -->