/*     __  ___      __    _ __
 *    /  |/  /___  / /_  (_) /__
 *   / /|_/ / __ \/ __ \/ / / _ \
 *  / /  / / /_/ / /_/ / / /  __/
 * /_/  /_/\____/_.___/_/_/\___/
 */

/* https://css-tricks.com/books/volume-i/scale-typography-screen-size/
font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
*/

@media only screen and (max-width: 43.6875rem) {
    /* at less than 43.75rem probably a mobile device */
    #app-selector .title {
        height: 3.125rem;
    }
    #app-selector .title .title-image {
        top: 0;
        left: 50%;
        transform: translate(-50%,0);
        background-position: center;
    }
    #app-selector {
        height: 6.875rem;
    }
    #app-selector ul {
        height: 3.75rem;
        top: 3.125rem;
        left: 0;
        transform: translate(0,0);
        justify-content: center;
    }
    #app-selector li.selector.disabled {
        display: none;
    }
    .app-title {
        justify-content: center;
    }
    #app-body {
        height: calc(100% - 8.75rem);
    }
    #messages-app .conversation .wrapper {
        margin-right: 1.25rem;
        margin-left: 6.25rem;
    }
    #messages-app .conversation .wrapper.maitreya {
        margin-right: 5rem;
        margin-left: 1.25rem;
    }
    #messages-app .speaking-markers {
        margin-right: 0;
        margin-left: 6.25rem;
    }
    #messages-selector {
        height: 3.0625rem;
    }
    #messages-selector ul {
        overflow-y: auto;
    }
    #messages-selector ul li.selector a {
        white-space: nowrap;
    }
    #messages-selector ul li.selector.selected a {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
    }
    #messages-app .middle-bar,
    #terminal-app .top-bar {
        height: 0.9375rem;
    }
    #messages-app .middle-bar .middle,
    #terminal-app .top-bar .middle {
        height: 0.3125rem;
    }
    #messages-app .middle-bar .bottom,
    #terminal-app .top-bar .bottom {
        height: 0.3125rem;
    }
    #messages-app .bottom-bar,
    #terminal-app .bottom-bar {
        height: 0.9375rem;
    }
    #messages-app .bottom-bar .top,
    #terminal-app .bottom-bar .top {
        height: 0.625rem;
    }
    #terminal-app .bottom-bar .middle {
        height: 0;
    }
    #messages-app .conversation-box {
        height: 19.125rem;
    }
    .options-box {
        background-position: center;
    }
    #terminal-app .terminal-log {
        margin-right: 1.5625rem;
        margin-left: 1.5625rem;
    }
    #terminal-app .working {
        left: 1.5625rem;
    }
    #terminal-app .terminal-body {
        height: 25.625rem;
    }
    #terminal-app .middle-bar {
        width: calc(100% - 6.25rem);
    }
}
